{% extends "NextAddressBookBundle::base.html.twig" %}
{% import "NextAddressBookBundle::bootstrap.html.twig" as bootstrap %} 

{% block title %}Ajouter une société - Address Book{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('bundles/nextaddressbook/js/select2-3.5.1/select2.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/nextaddressbook/js/select2-3.5.1/select2-bootstrap.css')}}">
    <style></style>   
{% endblock %}
{% block javascript %}
    <script src="{{asset('bundles/nextaddressbook/js/select2-3.5.1/select2.js')}}"></script>
    <script src="{{asset('bundles/nextaddressbook/js/select2-3.5.1/select2_locale_fr.js')}}"></script>

{% endblock %}
{% block menu %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{path('next_addressbook_contact_lister')}}"><span class="glyphicon glyphicon-home"/>Accueil</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="." class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"/></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{path('next_addressbook_societe_ajouter')}}">Nouvelle Société</a></li>
                            <li class="divider"></li>
                                {% for societe in listeSocietes %}
                                <li><a href="{{path('next_addressbook_societe_modifierMenu',{'id':societe.idsociete}, {'societe': societe.nom|lower})}}">{{societe.nom}}</a></li>
                                {% endfor %}

                        </ul>
                    </li>
                </ul>
                <a class="navbar-brand" href="{{path('next_addressbook_societe_lister')}}"><span class="glyphicon glyphicon-list"/></a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
{% endblock %} 

{% block contenu %}
    <div class="container">
        {% if (modifier is defined) %}
            <h4>modifier une société </h4>
        {% else %} 
            <h4>Ajouter une société </h4>
        {% endif %}
    </div>
    {{form_start(form, {'attr': {'class': 'form-horizontal', 'role': 'form', 'novalidate': ''} })}}
    {{bootstrap.formGroup(form.nom, 'Nom')}}
    {{bootstrap.formGroup(form.adresse, 'Adresse')}}
    {{bootstrap.formGroup(form.cp, 'Code postal')}}
    {{bootstrap.formGroup(form.ville, 'Ville')}}

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            {#            {{form_widget(form.ajout, {'attr': {'class':'btn btn-primary'} })}}#}
            <button type="submit" class="btn btn-primary">
                {% if (modifier is defined) %}
                    <span class="glyphicon glyphicon-ok"/> Modifier
                {% else %} 
                    <span class="glyphicon glyphicon-plus"/> Ajouter
                {% endif %}
            </button>
        </div>
    </div> 
    {{form_end(form)}}
{% endblock %}

