{% extends "NextAddressBookBundle::base.html.twig" %}
{% import "NextAddressBookBundle::bootstrap.html.twig" as bootstrap %} 

{% block title %}Liste des Sociétés - Address Book{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('bundles/nextaddressbook/js/select2-3.5.1/select2.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/nextaddressbook/js/select2-3.5.1/select2-bootstrap.css')}}">
    <style></style>   
{% endblock %}
{% block javascript %}
    <script src="{{asset('bundles/nextaddressbook/js/select2-3.5.1/select2.js')}}"></script>
    <script src="{{asset('bundles/nextaddressbook/js/select2-3.5.1/select2_locale_fr.js')}}"></script>

{% endblock %}
{% block menu %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{path('next_addressbook_contact_lister')}}"><span class="glyphicon glyphicon-home"/>Accueil</a>
                <a class="navbar-brand" href="{{path('next_addressbook_societe_ajouter')}}"><span class="glyphicon glyphicon-plus"/></a>
            </div>
     </div>  
    </nav>
{% endblock %} 

{% block contenu %}
     <h2>Liste des sociétés : </h2>
    {% for societe in listeSocietes %}
        <div class="societe">
            <p>
                {{societe.nom}} 
                <a href="{{path('next_addressbook_contact_lister')}}" class="glyphicon glyphicon-user"></a> 
                <a href="{{path('next_addressbook_societe_modifier', {'id':societe.idsociete})}}" class="glyphicon glyphicon-pencil"></a> 
                <a href="{{path('next_addressbook_societe_supprimer', {'id':societe.idsociete})}}" class="glyphicon glyphicon-remove"></a>
            </p>
            <p>
                {{societe.adresse}}
            </p>
            <p>
                {{societe.cp}}
            </p>
            <p>
                {{societe.ville}}
            </p>
            <hr> 
        </div>
    {% endfor %}
</div> 
{% endblock %}

