{% extends "NextAddressBookBundle::base.html.twig" %}

{#{% block title %}NextAddressBookBundle:Contact:lister{% endblock %}#}
{% block title %}Liste de Contacts{% endblock %}
{% block contenu %}
     <h1>Liste de Contacts</h1>
     {% for message in app.session.flashbag.get("success") %}
    <div class=""alert alert-success">
    </div>
     {% if titrePage is defined %}
        <h1> {{titrePage}} </h1>
      {% endif %}  
    {% endfor %}
   <div class="table-responsive">
   <table class="table">
     
    <thead>
        <tr style="background-color:lightgrey;">
            <td>NOM</td>
           <td>PRENOM</td>      
            <td>EMAIL</td>   
           <td>TELEPHONE</td>
           
    </tr>
    </thead>
   
<tbody>
    
       
{% for contact in listeContacts %} 
              
  
    <tr>
          <td>{{contact.nom}}</td>
           <td>{{contact.prenom}}</td>      
            <td>{{contact.email}}</td>   
           <td>{{contact.tel}}</td>
         <td> <a href="{{path('next_addressbook_contact_modifier',{'id':contact.idcontact})}}">Modifier</a></td>
{#  <td> <a href="{{path('next_addressbook_contact_supprimer',{'id':contact.idcontact})}}">Supprimer</a></td>
#}
{% else %}
<tr><td>Aucun contact n'a été trouvé.</td></tr>

 {% endfor %} 
</tbody>
        </table>
      

    <p><a class="btn btn-primary btn-lg" href="{{path('next_addressbook_contact_ajouter')}}" role="button">Ajouter un contact</a><p> 
        </div>
      
   
        
{% endblock %}

